# Produced by autogen.sh
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
m4/

# Produced by configure
Makefile
config.h
config.log
config.status
libtool
.deps/
stamp-h1

# Produced by make
.libs/
*.la
*.lo
*.o
src/conftest
